

:root {
    --blue-color: rgba(68, 68, 241, 0.906);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.block {
    display: none;
}



.wrong {
    border: 2px solid rgba(255,0,0,0.15);
    background-color: rgba(255,0,0,0.2);
}


.account-login .flex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; width: 100%;
}


.account-login .logo {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 60px; width: 100%;
    padding: 15px;
    cursor: pointer;
}



.account-login  .logo1 {
    font-family: "Akaya Telivigala", system-ui;
    font-size: 35px;
    margin-bottom: 10px;
}
.account-login .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: 10px 0;
    margin-top: 20px;
}

.account-login .input .text, 
.account-login .input .password input, 
.login-in .login-in1{
    width: 100%;
    height: 40px;
    font-size: 15px;
    outline: none;
    color: rgb(72, 72, 72);
}

.account-login .input .text {
    border-radius: 5px;
    border: 2px solid rgba(128,128,128,0.15);
    background-color: rgba(128,128,128,0.1);
    padding: 10px;
}

.account-login .input .password {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid rgba(128,128,128,0.15);
    background-color: rgba(128,128,128,0.1);
    padding: 0 10px;
    border-radius: 5px;
}
.account-login .input .password i {
    color: rgb(129, 129, 129);
    font-size: 20px;
}

.account-login .input .password input {
    background: transparent;
    border: none;
    
}

/* .account-login .input .text:hover, .account-login .input .password:hover {
    border: 2px solid rgba(255,0,0,0.15);
    background-color: rgba(255,0,0,0.2);
} */


.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.forgot .forgot1 {
    color: var(--blue-color);
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    text-align: right;
}

.login-in {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.login-in .login-in1 {
    width: 100%;
    background-color: var(--blue-color);
    color: white;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
}

.login-in .or {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px;
}

.login-in .facebook {
    font-size: 15px;
    color: var(--blue-color);
    text-align: center;
}

.footer1 {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 2px solid rgba(128,128,128,0.15);
    width: 100%;
    font-size: 16px;
}
.footer1 a {
    color: var(--blue-color);
}

